* {
  box-sizing: border-box;
}

body {
  background: #FFEBCD;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 280px;
  height: 700px;
  width: 100%;
  margin: 45px auto;
  background: #000000;
  color: #dcdcdc;

}

/*Info Component*/
.info {
  max-width: 100%;
  text-align: center;
}

.profilePic {
  width: 280px;
  height: 250px;
  left: 116px;
  top: 44px;
  border-radius: 10px 10px 0px 0px;
}

.info > h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}

.info > a {
  color: #F5F5F5;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-decoration: none;
}

.info > h5 {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  margin-top: 1px;
  color: #F3BF99;
}

.btn-group {
  padding-top: 8.81px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.emailBtn {
  padding: 9px 13px 9px 11px;
  width: 115px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* white */
  background: #fff;

  /* gray/300 */
  border: 1px solid #D1D5DB;

  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.linkedinBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  blend: pass-through;
  width: 115px;
  height: 34px;
  margin-left: 20px;
  background: #5093E2;

  ;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.btnIcon1 {
  width:13px;
  height:13px;
}

.btnIcon1 {
  width:13px;
  height:10px;
}

p {
  width: 57px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.linkedinText {
  color: #fff;
}

.about {
    margin-top: 30px;
}

.interest {
    margin-top: 80px;
}

/*ABOUT & INTEREST*/
.about>h2,
.interest>h2 {
    width: 242.71px;
    margin: 0px auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    color: #f5f5f5;
}

.about>p,
.interest>p {
    width: 247px;
    margin: 2px auto;

    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    /* or 15px */

    color: #dcdcdc;
}

/*Footer*/
.footer {
  max-width: 317px;
  height: 64px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
  margin: 75px auto;
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 25px;
  height: 25px;
}

.icon-list li {
  margin-right: 25px;
  margin-top: 19px;
}